@import "~bootstrap/scss/bootstrap";
@import "buttons.scss";
@import "colors.scss";
@import "containers.scss";
@import "dimensions.scss";
@import "flex.scss";
@import "headings.scss";
@import "inputs.scss";
@import "shadows.scss";
@import "text.scss";

body {
    margin: 0;
    overflow: hidden;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    word-wrap: break-word;
}

a {
    color: $dark-color;

    &:hover {
        color: $dark-color;
    }
}