<div class="page-container-centered">
    <div class="page-content" *ngIf="!userSetHostInformation">
        <div class="row mb-3">
            <div class="col">
                <h1>
                    Cards<br />
                    For<br />
                    Productivity<br />
                </h1>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col">
                <input type="text" maxlength="20" class="cfp-form-control" placeholder="Your name" aria-label="Your name"
                    [(ngModel)]="createSessionRequest.nickname" size="1" autofocus
                    (keyup.enter)="createSessionRequest.nickname ? hostInformationEntered() : null">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button matRipple type="button" class="cfp-btn cfp-btn-block w-100"
                    [disabled]="!createSessionRequest.nickname?.trim()" size="1" (click)="hostInformationEntered()">
                    Enter
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="userSetHostInformation" class="grid-container">
        <div class="header">
            <h3 class="mb-0">Cards For Productivity</h3>

            <button matRipple type="button" (click)="createSession()" class="cfp-btn cfp-btn-green px-3"
                [disabled]="isLoading || !createSessionRequestValid()">
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span>
                <span *ngIf="!isLoading">Launch</span>
            </button>
        </div>

        <div class="sidebar standard-shadow">
            <div *ngFor="let story of createSessionRequest.stories">
                <app-sidebar-item class="selected" [story]="story" (delete)="deleteStory($event)"
                    (clone)="cloneStory($event)" (selected)="storySelected($event)">
                </app-sidebar-item>
            </div>

            <button matRipple type="button" (click)="addStory()" class="cfp-btn cfp-btn-blue w-100">
                Add Story
            </button>
        </div>

        <div class="content">
            <div class="input-box standard-shadow mb-5">
                <input type="text" maxlength="250" autofocus class="cfp-form-control large no-border fill fs-"
                    placeholder="Click to add the title of your story" aria-label="Story title"
                    [(ngModel)]="currentStory.title">
            </div>

            <div class="input-box standard-shadow">
                <input type="text" maxlength="1000" class="cfp-form-control large no-border fill"
                    placeholder="Click to add the description of your story" aria-label="Story description"
                    [(ngModel)]="currentStory.description">
            </div>
        </div>
    </div>

    <div class="footer" *ngIf="!userSetHostInformation">
        View the <a href="https://github.com/Intoware/cards-for-productivity" target="_blank">Source Code</a>.
        <br/>
        Designed by <a href="https://www.instagram.com/yxlydesign" target="_blank">Tom Yaxley</a>. Developed by <a href="https://www.henry-bettany.com" target="_blank">Henry Bettany</a>. Powered by <a href="https://www.intoware.com" target="_blank">Intoware</a>.
    </div>
</div>