<div class="page-container-centered">
    <div class="page-content">
        <div class="row mb-3">
            <div class="col">
                <h1>
                    Cards<br/>
                    For<br/>
                    Productivity<br/>
                </h1>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col">
                <button matRipple type="button" (click)="navigateTo('join')" class="cfp-btn cfp-btn-block w-100">Join</button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button matRipple type="button" (click)="navigateTo('host')" class="cfp-btn cfp-btn-block cfp-btn-secondary w-100">Host</button>
            </div>
        </div>
    </div>

    <div class="footer">
        View the <a href="https://github.com/Intoware/cards-for-productivity">Source Code</a>.
        <br/>
        Designed by <a href="https://www.instagram.com/yxlydesign">Tom Yaxley</a>. Developed by <a href="https://www.henry-bettany.com">Henry Bettany</a>. Powered by <a href="https://www.intoware.com">Intoware</a>.
    </div>
</div>