@import "colors.scss";
@import "dimensions.scss";

.page-container-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100%;

    color: $white-color;

    >.page-content {
        margin-top: auto;
    }

    >.footer {
        margin-top: auto;
        margin-bottom: $standard-spacing;
        text-align: center;
        line-height: 2rem;
    }
}