mat-dialog-container {
    .cfp-btn:not(.cfp-btn-icon) {
        min-width: 4rem;
    }

    .mat-dialog-title {
        margin-bottom: 12px;
    }

    >mat-dialog-actions {
        justify-content: flex-end;

        margin-top: 12px;
        margin-bottom: -12px !important;
    }
}